export EDITOR=nvim
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:=$HOME/.config}
export NODE_EXTRA_CA_CERTS=/etc/ssl/certs/ca-certificates.crt

export FZF_DEFAULT_COMMAND='fdfind --type file --strip-cwd-prefix --exclude .git --hidden --follow'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
