export EDITOR=nvim
export XDG_CONFIG_HOME=${XDG_CONFIG_HOME:=$HOME/.config}

export FZF_DEFAULT_COMMAND='fd --type file --strip-cwd-prefix --exclude .git --hidden --follow'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
