alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias lh='ls -lha'
if command -v fdfind >/dev/null 2>&1; then
    alias fd='fdfind'
fi
alias sudo="sudo " #Preserve Aliases in sudo
alias docker-compose='docker compose'
alias ddup='docker-compose up -d'
alias ddupf='docker-compose up -d --force-recreate'
alias ddown='docker-compose down'
alias dc='docker-compose'
alias odev='devcontainer open'
alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan'
alias ssh-keyrem='ssh-keygen -f $HOME/.ssh/known_hosts -R'
alias vi='nvim'
alias vim='nvim'
alias vif='nvim $(fzf)'
alias echopath='tr ":" "\n" <<< "$PATH"'
alias clip='wl-copy'
alias fp='cd $(fzf_open_code -s)'
alias fc='fzf_open_code'
alias oe='wsl_open_explorer'
alias bw-open='$(bw unlock | grep "^\$ export" | cut -c 3-)'

