alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias lh='ls -lha'
alias sudo="sudo " #Preserve Aliases in sudo
alias ddup='docker-compose up -d'
alias ddupf='docker-compose up -d --force-recreate'
alias ddown='docker-compose down'
alias dc='docker-compose'
alias rustscan='docker run -it --rm --name rustscan rustscan/rustscan'
alias ssh-keyrem='ssh-keygen -f $HOME/.ssh/known_hosts -R'
alias vi='nvim'
alias vif='nvim $(fzf)'
