[user]
    name = Joshua Kreuder
    email = joshua_kreuder@outlook.com
[push]
    default = simple
[core]
	autocrlf = false
[status]
    showUntrackedFiles = all
[init]
    defaultBranch = main
[alias]
    s = status
    l = log
    d = diff
    dc = diff --cached
    a = add
    c = commit
    ca = commit --amend
    cn = commit --amend --no-edit
    ch = checkout
    cp = cherry-pick
    sw = switch
    pushf = push --force-with-lease
    publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
    r1 = rebase HEAD^ -i
	r2 = rebase HEAD~2 -i
    r3 = rebase HEAD~3 -i
    r4 = rebase HEAD~4 -i
    r5 = rebase HEAD~5 -i
    dt = difftool --tool=vimdiff -y
    dtc = dt --cached -y
